html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera--view {
    filter: invert(1);
}
#camera, #camera--sensor, #camera--output{
  filter: invert(-1);
}
#text-block {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-family: Arial, sans-serif; /* You can change the font-family to whatever you prefer */
}

#name {
  font-size: 24px;
  font-weight: bold;
}

#info {
  font-size: 16px;
  font-style: italic;
}

#series {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}
